BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IndentCaseLabels: true
IndentGotoLabels: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
